form{
    display: flex;
}
.search-element{
    margin:4px
}

.product-section{
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    border: 2px solid peachpuff;
    background-color: peachpuff;
}